<!DOCTYPE html>
<html>

<head>
    <title> End Page </title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename = 'styles.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename = 'top.css')}}">
</head>

<body>
    <nav>
        <div class="head">
            Emotion Detection
        </div>
        <ul>
            <li><a href="about:blank" onclick="kill()"> Quit </a></li>
        </ul>
    </nav>
    <div class="button-container">
        <img src="{{ url_for('static', filename='home.PNG')}}" class="image-size" onclick="home()">
        <img src="{{ url_for('static', filename='Restart.PNG')}}" class="image-size" onclick="start()">
    </div>
    <script src="{{ url_for('static', filename='app.js') }}"></script>
</body>

</html>